<!doctype HTML>
<html>
  <head>
    <title>Corey Codes</title>
    <link rel="icon" type="image/x-icon" href="/img/CC_Logo_Favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">    
    <link rel='stylesheet' href='style.css'/>
    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <section id="header">
      <header id="intro-navbar">
        <div>
          <nav >
          <a href='#about'>About</a>
          <a href='#skills'>Skills</a>
          <a href='#portfolio'>Portfolio</a>
          <a href='#contact'>Contact</a>
          </nav>
        </div>
      </header>
    </section>

    <section id='intro'>
      <div id="hero-container">
        <div id="hero-image">
          <img id="logo-image" src="/img/CC_logo.png" alt="Corey Cacananta Logo">
        </div>
      </div>
      <div id="write-text-container">
        <div id="write-area-text">
          <h1 id="write-text"></h1>
        </div>
          <div class="parallax-port" id="rotate-burgundy">
          </div>
          <div class="parallax-port" id="rotate-navy">
          </div>
      </div>
    </section>

    <section id='about'>
      <div class="about-me-header">
        <h1>about me</h1>
      </div>
        <div id='about-me-img'>
          <img class="corey-candid" src="img/Corey_candid.jpg" alt="Corey"/>
        </div>
          <div id="about-me-content">
            <div id="about-me-text">
              <p class="about-me-p">I'm a former financial analyst learning to code. My work experience has facilitated my transition to thinking like a full stack JavaScript developer. I enjoy solving problems and especially like using data to create value-added solutions. I have been successful at this because analytical thinking comes naturally to me. I enjoy 
              collaborating and welcome any opportunity to network and learn. The most important concepts I've learned through coding is to enjoy the process and never underestimate the power of curiosity.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id='skills'>
      
    </section>

    <section id='portfolio'>
      <div id="portfolio-h1">
        <h1>Portfolio</h1>
      </div>
      <div id="portfolio-display">
        <div id="portfolio-grid-container">
          <table>
            <div class="parallax-port" id="one"><a href="https://cc-california-surf-report.herokuapp.com/" target="_blank"><img src="/img/hack-a-thon.png"/></a></div>
            <div class="parallax-port" id="two"><a href="https://cc-react-vstda.herokuapp.com/" target="_blank"><img src="/img/VSTDA.png"/></a></div>
            <div class="parallax-port" id="three"><a href="https://cc-movie-finder.herokuapp.com/" target="_blank"><img src="/img/movie-finder.png"/></a></div>
            <div class="parallax-links" id="four"><a href="https://github.com/Cacananta" target="_blank"><img src="/img/Github.png"></a></div>
            <div class="parallax-links" id="five"><a href="https://www.linkedin.com/in/coreycacananta/" target="_blank"><img src="/img/LinkedIn.png"/></a></div>
            <div class="parallax-links" id="six">Six</div>
          </table>
        </div>
      </div>
    </section>

    <section id='contact'>
      <h1 id="contact-header">Contact Me</h1>
              <div id='contact-form'>
                <form action="/thanks" method="POST">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">First</span>
                    <input name="first_name" type="text" class="form-control" aria-describedby="basic-addon1">
                  </div>
                  <br>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">Last</span>
                    <input name="last_name" type="text" class="form-control" aria-describedby="basic-addon2">
                  </div>
                  <br>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">Email</span>            
                    <input name="email" type="text" class="form-control" aria-describedby="basic-addon3">
                  </div>
                  <br>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon4">Note</span>
                    <input name="comment" type="text" class="form-control" aria-describedby="basic-addon4"/>
                  </div>
                  <br>
                  <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary">Send Me An E-mail</button>
                  </div>
                </form>
              </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="script.js" type="text/javascript" ></script>
  </body>
</html>