<!doctype HTML>
<html>
  <head>
    <title>Corey Codes</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">    
    <link rel='stylesheet' href='style.css'/>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Josefin+Sans|Raleway" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/a30fd4e771.js"></script>
  </head>
  <body>
    <section id="header">
      <header id="intro-navbar">
        <div>
          <nav >
          <a href='#about'>About</a>
          <a href='#skills'>Skills</a>
          <a href='#portfolio'>Portfolio</a>
          <a href='#contact'>Contact</a>
          </nav>
        </div>
      </header>
    </section>

    <section id='intro'>
      <div id="hero-container">
        <div id="hero-image">
          <img id="logo-image" src="/img/CC_logo-transparent.png" alt="Corey Cacananta Logo">
        </div>
      </div>
      <div id="write-text-container">
        <div id="write-area-text">
          <h1 id="write-text"></h1>
        </div>
          <h2 id="hidden-text">go. dream. create.</h2>
      </div>
      <div class="parallax-1" id="rotate-burgundy">
      </div>
      <div class="parallax-2" id="rotate-navy">
      </div> 
      <div class="parallax-3" id="rotate-turquoise">
      </div>
      <div class="parallax-4" id="rotate-gold">
      </div> 
    </section>

    <section id='about'>
      <div id="about-me-header">
        <h1>about me</h1>
      </div>
        <div id='about-me-img'>
          <img class="corey-candid" src="img/Corey_candid.jpg" alt="Corey"/>
        </div>
          <div id="about-me-text">
            <div id="about-me-code">
              <h2 id="coding-h2">My Journey To Coding</h2>
              <p class="about-me-p">I'm a former financial analyst learning to code. My work experience has 
              facilitated my transition to becoming a JavaScript developer. I enjoy solving problems and 
              especially like using data to create value-added solutions. I've been successful at this because 
              analytical thinking comes naturally to me. The most important concepts I've learned through 
              coding is to enjoy the process and never underestimate the power of curiosity.
              </p>
            </div>
            <div id="about-me-life">
              <h2 id="life-h2">When I'm Not Coding</h2>
              <p class="about-me-p">I was born and raised in Southern California which probably explains my 
              passion for health, fitness, and the outdoors. In my free time you can find me cooking up delicious 
              plant-based meals, pushing myself physically to prepare for a hike or climb, or meditating to 
              reset and clear my mind. I love finding new ways to challenge myself because it keeps me present, 
              engaged, and most of all, happy!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="skills">
      <div id="skills-header">
        <h1>skills</h1>
      </div>
      <div>
      <p id="skills-desc">I specialize in MERN (MongoDB, Express.js, React, & Node.js) stack development but am always eager to learn more</p>
      </div>
      <div id="skills-wrapper">
        <div id="resume-id">
          <h1 id="resume-h1">Resume</h1>
          <a href="img/Corey_Cacananta_resume.pdf" target="_blank"><img id="resume-img" src="https://user-images.githubusercontent.com/7308586/34848784-ee68f3b4-f6d4-11e7-8d59-c9d14991f3f9.png)
" alt="resume"/></a>
        </div>
        <div id="skills-id">
          <h1>Technical</h1>
          <p class="skills-p">HTML / CSS</p>
          <div class="skill-container">
            <div class="skills html-css">explore.</div>
          </div>
          <p class="skills-p">MongoDB</p>
          <div class="skill-container">
            <div class="skills mongo">learn.</div>
          </div>
          <p class="skills-p">JavaScript</p>
          <div class="skill-container">
            <div class="skills javascript">be curious.</div>
          </div>
          <p class="skills-p">React.js</p>
          <div class="skill-container">
            <div class="skills react">enjoy the process.</div>
          </div>
          <p class="skills-p">Node.js</p>
          <div class="skill-container">
            <div class="skills node">create.</div>
          </div>
          <p class="skills-p">Professionalism / Work Ethic / Attitude</p>
          <div class="skill-container">
            <div class="skills soft-skills">achieve.</div>
          </div>
        </div>
      </div>
    </section>

    <section id='portfolio'>
      <div id="portfolio-header">
        <h1 id="portfolio-h1">portfolio</h1>
      </div>
          <div id="portfolio-display">
            <div class="port-containers">
              <a href="https://cc-california-surf-report.herokuapp.com/" target="_blank"><img class="port-project" src="/img/hack-a-thon.png" alt="hack-a-thon Project"/></a>
              <h3>California Surf Report</h3>
              <p class="port-desc">This surf report app uses React and Express to help get the latest surf conditions. 
              Although the initial build only took me 72 hours, this is an ongoing project that I hope to launch as a 
              Google PWA (progressive web application). Stay tuned!</p>
            </div>
            <div class="port-containers">
              <a href="https://delicious-deliveries.herokuapp.com/#/" target="_blank"><img class="port-project" src="/img/delicious-deliveries.png" alt="Delicious Deliveries Project"/></a>
              <h3>Delicious Deliveries</h3>
              <p class="port-desc">During this team project we created a full-stack food delivery application. 
              We used React Redux to manage our components, we built database endpoints to capture user authentication, 
              and used an agile work flow to manage our one-week sprint.
              </p>
            </div>
            <div class="port-containers">
              <a href="https://cc-movie-finder.herokuapp.com/" target="_blank"><img class="port-project" src="/img/movie-finder.png" alt="Movie Finder Project"/></a>
              <h3>Movie Finder</h3>
              <p class="port-desc">This application was one of my first introductions to using React Redux and
              certainly my first project using Thunk middleware to optimize API calls. I really enjoy using
              database information to create custom user interfaces.</p>
            </div>
          </div>
        <div id="social-media">
          <a href="https://github.com/Cacananta" target="_blank"><i id="github" class="fa fa-github-square fa-5x" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/coreycacananta/" target="_blank"><i id="linkedin" class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i></a>
        </div>
    </section>

    <section id='contact'>
      <div id="contact-header">
        <h1>contact me</h1>
      </div>
      <p id="contact-desc">I enjoy collaborating and welcome any opportunity to network, learn, and help others by sharing what I know</p>
              <div id='contact-form'>
                <form action="/thanks" method="POST">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">First</span>
                    <input name="first_name" type="text" class="form-control" aria-describedby="basic-addon1">
                  </div>
                  <br>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">Last</span>
                    <input name="last_name" type="text" class="form-control" aria-describedby="basic-addon2">
                  </div>
                  <br>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">Email</span>            
                    <input name="email" type="text" class="form-control" aria-describedby="basic-addon3">
                  </div>
                  <br>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon4">Note</span>
                    <input name="comment" type="text" class="form-control" aria-describedby="basic-addon4"/>
                  </div>
                  <br>
                  <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary">Send Me An E-mail</button>
                  </div>
                </form>
              </div>
              <div id="contact-footer">
                <div id="footer-logo">
                  <a href="#header"><img src="/img/CC_logo-transparent.png" alt="Corey Cacananta Logo"/></a>
                </div>
              <div id="footer-rights">
                <p>©2018 Corey Cacananta</p>
                <p>All Rights Reserved</p>
              </div>
            </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="script.js" type="text/javascript" ></script>
  </body>
</html>