<!doctype html>
<html>
<head>
  <title> Thank You</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
  <link rel='stylesheet' href='style.css'/>
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Josefin+Sans|Raleway" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <section id="thank-you">
    <h1 id="thank-you-h1">Thank you <%= first_name %></h1>
    <h2 id="thank-you-h2">We'll be in touch soon!</h2>
  </section>
</body>

</html>