/*LINKEDIN IMG ICON: <img class="social-media-links" src="/img/LinkedIn.png"/>
<img class="social-media-links" src="/img/Github.png">  */

/* GOLD: #CCAC00  */
/* BURGUNDY: #800020  */
/* TURQUOISE: #39C9BB  */
/*NAVY BLUE FOUND ONLINE:  #384b5f  */

/* PARALLAX DOWN
  <div class="parallax-5" id="rotate-burgundy1">
  </div>
  <div class="parallax-6" id="rotate-navy1">
  </div> 
  <div class="parallax-7" id="rotate-turquoise1">
  </div>
  <div class="parallax-8" id="rotate-gold1">
  </div> */

/* font-family: 'Didact Gothic', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

   /* * {
border: red solid 1px; 
}                                           */

body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* INTRO */

header {
  height: 10vh;
  background-color:#39C9BB;
}

#intro {
  height: 90vh;
  background-color: #CCAC00;
}

#intro-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Libre Franklin', sans-serif;
}

#intro-navbar nav a {
  font-size: 2.5vh;
  margin: 1vh;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px #384b5f;
  font-family: 'Josefin Sans', sans-serif;
}

#hero-container {
  height: 52vh;
  color: transparent;
}

#hero-image {
  display: flex;
  justify-content: center;
  background: white;
  height: 50vh;
}

#logo-image {
  height: 49vh;
  width: 49vh;
  z-index: 100;
}

#write-text-container {
  position: relative;
  height: 38vh;
}

#write-area-text {
  display: flex;
  justify-content: center;
  color: white;
  font: bold;
  font-family: 'Raleway', sans-serif;
}

#write-text {
  font-size: 4vh;
  text-align: center;
}

#hidden-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  font-family: 'Didact Gothic', sans-serif;
  color: #00CED1;
  text-shadow: -1px 0 #384b5f, 0 1px #384b5f, 1px 0 #384b5f, 0 -1px #384b5f;
  height: 75%;
}

#rotate-burgundy {
  position: absolute;
  overflow: hidden;
  left: -10%;
  width: 115%;
  height: 10vh;
  background-color: #800020;
  transform: rotate(-5deg);
  z-index: 4;
}

#rotate-navy {
  position: absolute; 
  overflow: hidden;
  left: -10%;
  width: 115%;
  height: 10vh;
  background-color: #384b5f;
  transform: rotate(5deg);
  z-index: 5;
}

#rotate-turquoise {
  position: absolute; 
  overflow: hidden;
  left: -10%;
  width: 115%;
  height: 10vh;
  background-color: #39C9BB;
  transform: rotate(5deg);
  z-index: 3;
}

#rotate-gold {
  position: absolute; 
  overflow: hidden;
  left: -10%;
  width: 115%;
  height: 10vh;
  background-color: #CCAC00;
  transform: rotate(-5deg);
  z-index: 2;
}

/* ABOUT */

#about {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom,#a96017, #800020);
  padding-bottom: 2vh;
}

#about-me-header {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#about-me-header h1 {
  font-size: 10vh;
  font-family: 'Didact Gothic', sans-serif;
  text-shadow: 3px 2px 0px #A65819, 6px 5px 0px #39C9BB;
}

#about-me-content {
  display: flex;
  justify-content: center;
}

#about-me-img {
   display: flex;
   justify-content: center;
   align-content: center;
 }

.corey-candid {
  border-radius: 50%;
  width: 20%;
  height: 20%;
  margin: 15px;
}

#about-me-text {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around; 
  align-content: center; 
}

#about-me-code,
#about-me-life {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
}

.about-me-p {
  color: white;
  margin: 0px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

#coding-h2 {
  color: #39C9BB;
  font-size: 5vh;
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
}

#life-h2 {
  color: #CCAC00;
  font-size: 5vh;
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
}

/* SKILLS */

#skills {
  height: auto;
  width: 100vw;
  background: linear-gradient(to bottom,#800020, #CCAC00);
}

#skills-header {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#skills-header h1 {
  font-size: 10vh;
  font-family: 'Didact Gothic', sans-serif;
  text-shadow: 3px 2px 0px #860B1D, 6px 5px 0px #CCAC00;
}

#skills-wrapper {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#resume-id {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100%;
  flex-direction: column;
}

 #resume-h2 {
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Didact Gothic', sans-serif;
}

#resume-img {
  height: 50vh;
}

 #skills-id {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 100%;
}

#skills-id h2 {
  color: white;
  font-family: 'Didact Gothic', sans-serif;
}

#skills-desc {
  font-size: 3vh;
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.skill-container {
    width: 50%;
    background-color: #ccc;
}

.skills {
    text-align: right;
    padding-right: 1vw;
    line-height: 3.5vh;
    color: white;
}

.skills-p {
  color: white;
  display: inline-block;
  margin: 1vh 0vh;
  font-family: 'Raleway', sans-serif;
}

.html-css {
  width: 65%; 
  background-color:#CCAC00;
  color: #CCAC00;
}
.mongo {
  width: 55%; 
  background-color:#39C9BB;
  color: #39C9BB;
}
.javascript {
  width: 60%; 
  background-color:#800020;
  color: #800020;
}
.react {
  width: 60%; 
  background-color: #384b5f;
  color: #384b5f;
}
.node {
  width: 55%;
  background-color: #CCAC00;
  color: #CCAC00;
}

.soft-skills {
  width: 100%;
  background-color: #39C9BB;
  color: #39C9BB;
}

/* PORTFOLIO */

#portfolio {
  height: 100vh;
}

#portfolio-header {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #384b5f;
}

#portfolio-header h1 {
  font-size: 10vh;
  font-family: 'Didact Gothic', sans-serif;
  text-shadow: 3px 2px 0px #FFF, 6px 5px 0px #D9D9D9;
}

#portfolio-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
}

#portfolio-center {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: flex-start;
}

.port-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#social-media {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#social-media a {
  margin: 0px 10px;
}

.port-project {
  box-shadow: 0px 0px 25px #777777;
  width: 25vw;
  border-radius: 2%;
  margin: 1vh;
}

.port-project:hover {
  transition: all 750ms ease-in-out;
  transform: scale(1.05);
}

h3 {
  text-align: center;
  padding: 10px 0px;
  font-family: 'Raleway', sans-serif;
}

.port-desc {
  width: 25vw;
  margin: 0px;
  padding: 3px;  
  background-color: #f8f8f8;
  font-family: 'Raleway', sans-serif;
}

.social-media-links {
  width: 5vw;
}

#github {
  color: #39C9BB;
}

#linkedin {
  color: #800020
}

#github:hover {
  color: #384b5f;
}

#linkedin:hover {
  color: #CCAC00;
}

/* CONTACT */

#contact {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(-15deg,#384b5f, #39C9BB);
}

#contact-desc {
  font-size: 3vh;
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
}

#contact-header {
  height: 15vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 3px 3px 3px #384b5f;
}

#contact-header h1 {
  font-size: 9.5vh;
  font-family: 'Didact Gothic', sans-serif;
}

#contact-form {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

form {
  width: 65%;
  align-content: center;
}

button:hover {
  transition: all 1000ms ease-in;
  transform: scale(1.15);
}

#contact-footer {
  background-color: transparent;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  margin: 5px, 0px;
}

#footer-logo a img {
  width: auto;
  height: 10vh;
}

#footer-rights {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer-rights p {
  color: white;
  display: inline-block;
  margin: 0px;
  font-size: 1.75vh;
  font-family: 'Josefin Sans', sans-serif;
}

/* THANKS */

#thank-you {
  background: linear-gradient(-15deg, #CCAC00, #800020, #39C9BB, #384b5f);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

 #thank-you-h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 10vh;
  font-family: 'Didact Gothic', sans-serif;
  text-shadow: 4px 3px 0px #4a9e9a, 7px 6px 0px #D9D9D9
}

#thank-you-h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 10vh;
  font-family: 'Didact Gothic', sans-serif;
  text-shadow: 4px 3px 0px #75253f, 7px 6px 0px #D9D9D9
} 

/* MEDIA QUERIES */

@media (min-width: 320px) and (max-width: 1200px) {

  /* INTRO */

  /* ABOUT */

  #about {
    height: auto;
  }
  #about-me-text {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: auto;
  }

  .corey-candid {
  width: 40%;
  height: 40%;
  }

  #about-me-code,
  #about-me-life {
    width: 100vw;
    /* flex-direction: column;
    align-items: center; */
  }

  .about-me-p {
    width: 95vw;
    text-align: center;
  }

  #coding-h2,
  #life-h2 {
    margin: 1.5vh 0;
  }

  /* SKILLS */

  #skills {
    height: auto;
  }

  #skills-wrapper {
    flex-direction: column;
    height: auto;
  }

  #resume-id,
  #skills-id {
    width: 100vw;
    height: auto;
  }

  #skills-id {
    margin: 3vh 0;
  }

  .react {
    font-size: 1vh;
  }

  /* .soft-skills {
    padding-bottom: 2vh
  } */

  /* PORTFOLIO */

  #portfolio {
    height: auto;
  }

  #portfolio-display {
      flex-direction: column;
      align-content: center;
      height: auto;
  }

  #portfolio-center {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  }

  .port-containers {
    margin: 2vh 0;
  }

  .port-project {
    width: 75vw;
  }

  .port-desc {
    width: 90vw;
  }

  /* CONTACT */

  #contact {
    height: auto;
  }

  #contact-form {
    height: auto;
  }
}